
.cut-out{
    position: relative;
    height: 1000px;
}


.About{
    min-height: 60vh;
    background-color: #9FCBDF;
    color:white;
}

.center-child{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.center-parent{
    position: relative;
}

/* small*/
@media screen and (max-width: 767px) {
    .cut-out{
        display: none;
    }

    .center-child{
        position: relative;
        transform: none;
        top:0;
    }
}