.Home{
    padding-top:50px;
}

.top-margin{
    margin-top:25px;
}

.socials{
    font-size:2.2rem;
    padding:2%;
    color:white
}

.socials:hover{
    color: black;
    cursor:pointer;
}

.header-text{
    color:white;
}

