

.nav-logo{
    height:50px;
}

@media only screen and (max-width: 600px) {
    .nav-logo{
        height:25px;
    }

    .nav-link{
        font-size:1rem;
    }

  }


.nav-link:hover {
    cursor: pointer;
    text-decoration:none;
    color: #33b3f3 !important;
}


.navbar{
    background-color: transparent;
}

